:root {
  --first-color: #0b0b0d;
  --second-color: #474a56;
  --third-color: #929aab;
  --fourth-color: #d3fddc;
}

header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(85, 85, 85, 0.35)),
      to(rgba(85, 85, 85, 0.35))
    ),
    url(./images/mountain.jpg) no-repeat top;
  background: linear-gradient(rgba(85, 85, 85, 0.35), rgba(85, 85, 85, 0.35)),
    url(./images/laptop.jpg) no-repeat top;
  background-size: cover;
  min-height: 30em;
}
.header-container {
  height: 30em;
}
.name {
  font-size: 4em;
}

main {
  background-color: var(--fourth-color);
  min-height: 70vh;
}

.dev-icon-container {
  padding: 3em;
  background-image: -moz-linear-gradient(
    135deg,
    rgb(90, 90, 90) 0%,
    rgb(25, 25, 25) 100%
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(90, 90, 90) 0%,
    rgb(25, 25, 25) 100%
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgb(90, 90, 90) 0%,
    rgb(25, 25, 25) 100%
  );
}
.dev-icon {
  color: #bbb;
  font-size: 3em;
  padding: 0.25em;
}

.projects .card {
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.15);
  min-height: 20em;
  max-width: 22rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 768px) {
  .projects .card {
    min-height: 27rem;
    max-width: 18rem;
  }
}
.projects .card .card-text {
  font-size: 0.75em;
}
